fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pgvector
pydantic-settings
celery
redis
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
spacy
zemberek-python
transformers
python-multipart
